@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,0900;1,700&display=swap");

/* VARIABLES: sirven para almacenar valores que se pueden reutilizar a lo largo de un archivo CSS y el elemento ":root" permite definirlas */
:root { 
    --font-family: "Roboto", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem; /*1 rem es igual a 16 pixeles*/
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* FIN DE LAS VARIABLES */

html{
    scroll-behavior: smooth; /*hace que el deslizamiento sea más suavecito*/
}

/*CSS RESETS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    color: var(--secondary-color);
}

body{
    font-family: var(--font-family);
}


/*INICIO DE NAVBAR*/
nav{
    position: sticky; /* es utilizada para hacer que un elemento se comporte de manera "pegajosa" o "fijada" en relación con el viewport o algún contenedor específico mientras se desplaza por la página. */
    top: 0;
    left: 0;
    z-index: 1; /*estás especificando su posición relativa con respecto a otros elementos en la misma área visual. donde un valor mayor coloca el elemento más arriba en la pila de capas, mientras que uno menor lo coloca más abajo */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1{
    color: var(--primary-color);
}

nav a{
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul{
    display: flex;
    gap: 1.9rem;
}

nav ul li{
    font-weight: var(--bold-font);
}

/* ESCONDER BOTON DE HAMBURGUESA*/
.burger-menu{
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/*FIN DE NAVBAR*/


/*INICIO DE HERO*/
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img{
    height: 20rem;
    width: 26rem;
    margin: 1rem;
    border-radius: 15px;
}

.bio{
    width: 30rem;
    padding: 2rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    border-radius: 15px;
}

.bio h1{
    margin-bottom: var(--bottom-margin);
}

.bio p{
    line-height: var(--line-height);
    padding: 0.3rem 0;
}


/*ABOUT ME*/
.more-about{
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}

.more-about h2{
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p{
    line-height: var(--line-height);
    padding: 0.4rem;
    text-align: center;
}


/* SKILLS */
.skills{
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header{
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.skills-wrapper img{
    padding: 1.25rem;
}

.icon{
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card{
    background-color: #fff;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    border-radius: 11px;
    padding: 20px;
    margin: 10px;
}

/*PROYECTOS*/
.projects{
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic{
    width: 90%;
    height: 85%;
}

.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-container p{
    padding: 0.4rem;
}

.projects-title{
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.project-container{
    text-align: center;
    width: 21.85rem;
    padding: 1rem;
}

.project-details{
    margin-bottom: var(--bottom-margin);
}

.project-card{
    background-color: #fff;
    box-shadow: 0 3px 10px var(--primary-color);
    border-radius: 11px;
    padding: 20px;
    margin: 10px;
}

.project-workinprogress{
    text-align: center;
    width: 21.85rem;
    padding: 1rem;
}

/*SOCIALS*/
.socials{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 40%;
}

.socicon{
    width: 2.5rem;
    height: 2.5rem;
}

/*FOOTER*/

footer{
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

/*SCROLL BUTTON*/
.scroll-up{
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow{
    width: 3rem;
    height: 3rem;
}

/* MEDIA QUERIES FOR RESPONSIVENESS*/
/*Esta media hace que las propiedades indicadas solo sean válidas en una página con esa cantidad de píxeles*/
@media screen and (max-width: 820px){
    nav{
        padding: 1.5rem 1rem;
    }

    nav ul{
        position: fixed;
        background-color: var(--bg-color);
        border-radius: 15px;
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li{
        margin: 8px;
    }

    .burger-menu{
        display: block;
    }

    nav ul.show{
        transform: translateX(0);
    }

    .hero{
        margin-top: 1rem;
        flex-direction: column;
        gap: 0;
    }

    .hero img{
        height: 16rem;
        width: 20rem;
        margin-bottom: -1rem;
    }

    .bio{
        margin-top: 2rem;
        width: 20.5rem;
    }

    .more-about{
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }

    .more-about h2{
        text-align: center;
    }

    .more-about p{
        text-align: justify;
    }

    .icon{
        width: 7rem;
        height: 7rem;
    }

    .projects-container{
        flex-direction: column;
    }

    .project-container{
        width: 20.875rem;
    }

    .project-workinprogress{
        width: 20.875rem;
    }

    .socials{
        right: 1%;
        bottom: 35%;
    }

    .socicon{
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 420px){
    .hero img{
        height: 14rem;
        width: 18rem;
        margin-bottom: -1rem;
    }

    .bio{
        width: 18.3rem;
    }

    .icon{
        width: 5.5rem;
        height: 5.5rem;
    }

    .project-container{
        width: 17.875rem;
    }

    .project-workinprogress{
        width: 17.875rem;
    }
}